Find external learning resources for this learner and skill gap.

Skill to support:
```json
{{ skill_json }}
```

Learner session summary:
```json
{{ session_json }}
```

Learner intake:
```json
{{ intake_json }}
```

Learner profile:
```json
{{ profile_json }}
```

Preferences:
```json
{{ preferences_json }}
```

Allowed external sources in priority order:
```json
{{ allowed_external_sources_json }}
```

Search hints:
```json
{{ search_hints_json }}
```

Use web search to find the most relevant resources for this learner right now.
